{% extends "emails/email_base.html" %}

{% comment %}
    This email is sent to instructors when a Review has been graded by a Reviewer
{% endcomment %}

{% block title %}Review completed by {{ review.reviewer }}{% endblock %}

{% block body %}
    <p>We're emailing to let you know that a review by {{ review.student }} has been completed
        by {{ review.reviewer }}.</p>
    <p>Score: {{ review.score_fraction }}</p>
    <p>Comments: {{ review.additional_comments|default:"No Additional Comments" }}</p>
    <p>For more information, navigate to the Instructor section of the website and click the "view" link to the right of
        the review</p>
{% endblock %}
