{% extends "emails/email_base.html" %}

{% comment %}
    This email is sent to instructors when a Review is accepted by a reviewer
{% endcomment %}

{% block title %}Review accepted by {{ review.reviewer }}{% endblock %}

{% block body %}
    {% load email_tags %}
    <p {% p_attrs %}>We're emailing to let you know that the review created by {{ review.student }} has been accepted
        by {{ review.reviewer }}.</p>
    <p {% p_attrs %}>Once the review is complete, you can view
        it's grade in the Instructor section of the CodeReview website.</p>
{% endblock %}
