/*!* This file describes styles for Rubrics *!*/

.rubric-graded td.selected, .rubric-grading td.selected {
    background-color: var(--bs-teal) !important;
    filter: grayscale(55%);
}

.rubric-grading td {
    transition: background-color 100ms linear;
}

.rubric-grading td:hover {
    background-color: var(--bs-teal) !important;
}

.rubric-editing .cell {
    width: 200px !important;
}

.rubric-editing .cell-wrapper {
    min-width: 200px;
}

.rubric-editing .cell_part {
    min-width: 200px;
}
