[run]
command_line = 'run_tests.py'
relative_files = True
include =
	Main/**
	Users/**
	Instructor/**
omit = 
	*/migrations/*
	*/__pycache__/*
	*/__init__.py
	*/admin.py
	*/urls.py
	*/apps.py
	Users/views.py
	Users/ldap_auth.py
	Main/templatetags/form_tags.py
	