media
.replit
.env
env.ps1
venv
.vscode
__pycache__/
*.py[cod]
*$py.class
*.so
pip-log.txt
pip-delete-this-directory.txt
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.idea
debug-emails/
.coverage
poetry.lock
pyproject.toml
