[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
attrs = "==23.1.0"
django-mailer = "==2.2"
importlib-resources = "==6.1.1"
jsonschema = "==4.19.0"
ldap3 = "==2.9.1"
lockfile = "==0.12.2"
mysqlclient = "==2.2.1"
pyasn1 = "==0.5.0"
pyrsistent = "==0.19.3"
pytz = "==2023.3"
six = "==1.16.0"
sqlparse = "==0.4.4"
tzdata = "==2024.1"
zipp = "==3.16.2"
Django = "==4.2.4"
wfastcgi = "*"
python-dotenv = "*"
django-o365mail = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "==7.4.0"
psycopg2 = "*"
genbadge = { extras = ["coverage"], version = "*" }
black = "*"
