[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
attrs = "==22.1.0"
django-mailer = "==2.2"
importlib-resources = "==5.9.0"
jsonschema = "==4.9.1"
ldap3 = "==2.9.1"
lockfile = "==0.12.2"
mysqlclient = "==2.1.1"
pyasn1 = "==0.4.8"
pyrsistent = "==0.18.1"
pytz = "==2022.2"
six = "==1.16.0"
sqlparse = "==0.4.2"
tzdata = "==2022.1"
zipp = "==3.8.1"
Django = "==4.1"
wfastcgi = "*"
python-dotenv = "*"
django-o365mail = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "==6.4.3"
psycopg2 = "*"
genbadge = { extras = ["coverage"], version = "*" }

[requires]
python_version = "3.10"
