{% extends base_template %}

{% comment %}
    This file is used to view a completed Review and its grade.
{% endcomment %}

{% block resources %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/rubrics/rubric_table.css' %}"/>
    <script>function goBack() {
        history.go(-1);
    }</script>
{% endblock %}

{% block pageHeader %}Review Details{% endblock %}

{% block mainContent %}
    {% load rubric_tags %}
    <div class="row">
        <div class="col">
            <button onclick="goBack();" class="btn h2 btn-outline-secondary"><i class="bi bi-arrow-left"></i> Back
            </button>
        </div>
        <div class="col text-end">
            <h2>Schoology Id: {{ review.schoology_id }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Student: {{ review.student }}</h2>
        </div>
        <div class="col text-end">
            <h2>Created On {{ review.date_created|date }} at {{ review.date_created|time }}</h2>
        </div>
    </div>
    <div class="row mb-3">
        {% if review.status != "O" %}
            <div class="col">
                <h2>Reviewer: {{ review.reviewer }}</h2>
            </div>
        {% endif %}
        {% if review.status == 'C' %}
            <div class="col text-end">
                <h2>Completed On {{ review.date_completed|date }} at {{ review.date_completed|time }}</h2>
            </div>
        {% endif %}
    </div>
    {% if review.status == 'C' %}
        <div class="row text-start">
            <div class="col">
                <h2>Grade: {{ review.score_fraction }}</h2>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <table class="table table-bordered rubric {% if review.status == 'C' %}rubric-graded{% endif %}">
                <tr>
                    <th>Criteria</th>
                    <th colspan="{{ review.rubric|colspan|add:1 }}">Score</th>
                </tr>
                {% for row in review.rubric|rows %}
                    <tr>
                        <th>{{ row.name }} <br> {{ row.description }}</th>
                        {% for cell in row|cells %}
                            <td class="cell {% if review.status == 'C' and cell|is_score:review %}selected fw-bolder{% endif %}">{{ cell.score }}
                                <br> {{ cell.description }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% if review.status == 'C' %}
        <div class="row">
            <div class="col w-100">
                <label for="additional_comments"> Additional Comments </label>
                <textarea id="additional_comments" rows="10" style="resize: none !important;"
                          class="form-control-plaintext"
                          readonly>{{ review.additional_comments|default:"No comments" }}</textarea>
            </div>
        </div>
    {% endif %}
{% endblock %}
