{% extends "reviews/review_table.html" %}

{% comment %}
    This file is used to override review_table.html to display a "View All" link
{% endcomment %}

{% block tableFooter %}
    {% if not hide_view_all %}
        <tr>
            <td class="text-center" colspan="{{ colspan }}">
                <a class="link-primary"
                   href="{% url "review-complete" %}{% if target_session %}?session={{ target_session }}{% endif %}">View
                    All</a></td>
        </tr>
    {% endif %}
{% endblock %}
