{% extends "form_base.html" %}

{% block resources %}
    <!-- TODO: Seperate file -->
    <script defer>
        $(document).ready(() => {
            const isDraftField = $("#id_is_draft");
            const currentScores = $("#id_scores");
            const draftButton = $("#saveDraftButton");
            if (currentScores.val() !== "[]") {
                // TODO: Do this :noooooooooo:
            }
            draftButton.click(() => {
                isDraftField.val(true);
            });
        });
    </script>
    {{ block.super }}
{% endblock %}

{% block beforeSubmit %}
    <button type="submit" id="saveDraftButton" class="btn btn-outline-secondary w-100">
        Save As Draft
    </button>
{% endblock %}
