{% extends "base.html" %}

{% block resources %}
    <style>
        body {
            background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsteamuserimages-a.akamaihd.net%2Fugc%2F1688248122333193690%2FE203434B4344D6B9AEF48513F5F682656647EE83%2F%3Fimw%3D268%26imh%3D268%26ima%3Dfit%26impolicy%3DLetterbox%26imcolor%3D%2523000000%26letterbox%3Dtrue&f=1&nofb=1") !important;
        }

        h1, h2, footer, nav {
            background-color: var(--bs-light);
        }
    </style>
{% endblock %}

{% block mainContent %}
    <h1>Welcome To The Cow Zone</h1>
    <h2>Enjoy Your Stay</h2>
{% endblock %}
