.review-table {
    width: 75%;
    text-align: center;
    border-collapse: collapse;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.review-table * tr td, .review-table * tr th {
    border: solid 1px black;
}

.review-table thead, .review-table tfoot {
    background-color: lightgray;
    border: solid 2px black;
}

.review-table tbody {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.row-color-1 {
    background-color: whitesmoke;
}

.row-color-2 {
    background-color: #dce8ff;
}

.none-notification {
    color: #0a0a0a;
    background-color: whitesmoke;
}
