.table-wrap {
    display: flex;
    flex-direction: row;
}

.selected-user, .hover-user {
    background-color: lightblue;
}

.user-table {
    background-color: lightgray;
    width: 45%;
}

.user-table thead {
    background-color: darkgray;
}

.user-table td, .user-table th {
    text-align: center;
}

.user-table tbody tr, .user-table tbody th {
    cursor: grab;
}
