<input class="rubric_create_input" type="hidden" name="{{ widget.name }}" id="{{ widget.attrs.id }}"
       value="{{ widget.value|default_if_none:"{}" }}" {% include "widgets/attrs.html" %}/>
<table class="rubric-edit-table">
    <tr>
       <th class="cell">Category</th>
       <th class="cell" id="scoreHeader" colspan="2">Scores</th>
    </tr>
    <tr class="row">
        <th class="cell">
            <div class="cell-wrapper">
                <button type="button" class="delete-button delete-row">X</button>
                <div class="cell_part">
                    <label>
                        Name: <input class="cell-input row-name" type="text"/>
                    </label>
                </div>
                <div class="cell_part">
                    <label>
                        Description: <input class="cell-input row-description" type="text"/>
                    </label>
                </div>
            </div>
        </th>
        <td class="cell data-cell">
            <div class="cell-wrapper">
                <button type="button" class="delete-button delete-cell">X</button>
                <div class="cell_part">
                    <label>
                        Score: <input class="cell-input cell-score" type="number"/>
                    </label>
                </div>
                <div class="cell_part">
                    <label>
                        Description: <input class="cell-input cell-description" type="text"/>
                    </label>
                </div>
            </div>
        </td>
        <td class="cell">
            <button type="button" class="add-cell-button">Add Cell</button>
        </td>
    </tr>
</table>
<button type="button" class="add-row-button">Add Row</button>