{% extends "admin_base.html" %}

{% comment %}
    This page is the home for the intructor, where they can view ongoing and completed reviews for each session
{% endcomment %}

{% block pageHeader %}Instructor Home{% endblock %}

{% block mainContent %}
    {% load review_tags %}
    <div class="row pb-3">
        <div class="col"><h2>AM Session</h2></div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Ongoing</h3>
        </div>
        <div class="col">
            <h3>Completed</h3>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col">
            {% review_table am_active "schoology_id,student,status,view,delete" %}
        </div>
        <div class="col">
            {% review_complete_preview_table am_completed "schoology_id,student,reviewer,view,delete" session="AM" %}
        </div>
    </div>
    <div class="row pb-3">
        <div class="col"><h2>PM Session</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Ongoing</h3>
        </div>
        <div class="col">
            <h3>Completed</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% review_table pm_active "schoology_id,student,status,view,delete" %}
        </div>
        <div class="col">
            {% review_complete_preview_table pm_completed "schoology_id,student,reviewer,view,delete" session="PM" %}
        </div>
    </div>
{% endblock %}