{% extends "base.html" %}

{% comment %}
    This file is used to override the default navigation of the site to better suit an Instructor
{% endcomment %}

{% block nav %}
    <a class="nav-link" href="{% url "rubric-list" %}">Rubrics</a>
    <a class="nav-link" href="{% url "user-list" %}">Users</a>
    <a class="nav-link" href="{% url "leaderboard" %}">Leaderboard</a>
    {# Provide a link to Django's admin section if we're in debug for convenience #}
    {% if debug %}
        <a class="nav-link" href="/admin">Debug</a>
    {% endif %}
{% endblock %}
