<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block resources %}

    {% endblock %}
</head>
<body>
    {#  Navigation goes here #}
    <h1>Test Site</h1>
    {% block mainContent %}

    {% endblock %}
    {# Footer goes here #}
</body>
</html>