<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeReview</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block resources %}

    {% endblock %}
</head>
<body>
{#  Navigation goes here #}
{# For now it'll be a list of links #}
<a aria-label="Home" href="{% url "home" %}"><h1>Test site</h1></a>
<div style="display: flex; flex-direction: row; float: right;">
    <a style="margin-right: 30px;" href="{% url "logout" %}">Logout</a>
    <a style="margin-right: 30px;" href="{% url "review_edit" %}">New Review</a>
    <a href="/admin">Admin</a>
</div>
{% block mainContent %}

{% endblock %}
{# Footer goes here #}
</body>
</html>