{% extends base_template %}

{% block resources %}
    {% load static %}
    <script defer src="{% static "js/form.js" %}"></script>
{% endblock %}

{% block containerClass %}container{% endblock %}

{% block mainContent %}
    {% load form_tags %}
    <div class="row text-center">
        <div class="col">
            <form method="post" class="form-main">
                {% csrf_token %}
                <h2 class="mb-5">Are you sure you want to {% block deleteVerb %}delete{% endblock %} {{ objectString }}?</h2>
                <button class="btn mt-2 w-100 btn-outline-danger submit-button" type="submit">
                    <span class="loading spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    <span class="submit-word">{% block submitVerb %}Delete{% endblock %}</span>
                </button>
                <button type="button" class="btn mt-2 w-100 btn-outline-secondary back-button">Back</button>
            </form>
        </div>
    </div>
{% endblock %}
