{% extends base_template %}

{% block resources %}
    {% load static %}
    <script defer src="{% static "js/form.js" %}"></script>
    {{ form.media }}
{% endblock %}

{% block containerClass %}container{% endblock %}

{% block pageHeader %}{{ formName }}{% endblock %}

{% block mainContent %}
    {% load form_tags %}
        {% block errorHandling %}
            {% if form.non_field_errors %}
                <div class="row mb-2">
                    <div class="col">
                        <ul class="text-danger">
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        <div class="row mb-4">
            <div class="col">
                <form novalidate class="form form-main" method="POST">
                    {% csrf_token %}
                        {% for field in form %}
                            <div id="{{ field.label }}_fieldset" class="my-2">
                                {% if field in form.visible_fields %}
                                    <div class="form-floating">
                                        {{ field|setup_field:"form-control" }}
                                        <label id="{{ field.label }}_label" for="{{ field.id_for_label }}">{{ field.label|title }}</label>
                                    </div>
                                {% else %}
                                    {{ field|setup_field:"form-control" }}
                                {% endif %}
                                {% if field.errors %}
                                    <div style="display: block;" id="{{ field.name }}-feedback" class="invalid-feedback">
                                        <ul>
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    <button class="btn mt-2 w-100 btn-outline-primary submit-button" type="submit">
                        <span class="loading spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        <span class="submit-word">{% block submitWord %}Save{% endblock %}</span>
                    </button>
                    <button type="button" class="btn mt-2 w-100 btn-outline-secondary back-button">Back</button>
                </form>
            </div>
        </div>
{% endblock %}