{% extends base_template %}

{% block resources %}
    {% load static %}
    <script defer src="{% static "js/form.js" %}"></script>
    {{ form.media }}
{% endblock %}

{% block containerClass %}container{% endblock %}

{% block pageHeader %}{{ formName }}{% endblock %}

{% block mainContent %}
    {% load form_tags %}
    <div class="row mb-5">
        <div class="col">
                {% if not hide_back %}
                    <button type="button" class="btn btn-outline-secondary back-button d-inline"><i class="bi bi-arrow-left"></i> Back</button>
                {% endif %}
        </div>
        <div class="col text-end">
            <button class="btn btn-outline-secondary d-none" aria-label="Display help text" id="help-button" type="button" data-bs-toggle="collapse" data-bs-target=".field-help" aria-expanded="false" aria-controls="{{ field.name }}-helptext">
                <i class="bi bi-question-circle"></i> <span id="help-label">Show Help</span>
            </button>
        </div>
    </div>
    {% block errorHandling %}
        {% if form.non_field_errors %}
            <div class="row mb-2">
                <div class="col">
                    <ul class="text-danger">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    <div class="row mb-4">
        <div class="col">
            <form novalidate class="form form-main" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div id="{{ field.label }}_fieldset" class="my-4">
                        {% if field in form.visible_fields %}
                            <div class="form-floating">
                                {{ field|setup_field:"form-control" }}
                                <label id="{{ field.label }}_label"
                                       for="{{ field.id_for_label }}">{{ field.label|title }}</label>
                            </div>
                        {% else %}
                            {{ field|setup_field:"form-control" }}
                        {% endif %}
                        {% if field.help_text %}
                                <div class="mb-2 d-flex flex-row">
                                    <div class="collapse text-nowrap ms-2 mt-1 align-middle field-help" id="{{ field.name }}-helptext">
                                        {{ field.help_text }}
                                    </div>
                                </div>
                        {% endif %}
                        {% if field.errors %}
                            <div style="display: block;" id="{{ field.name }}-feedback" class="invalid-feedback">
                                <ul>
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="btn mt-4 w-100 btn-outline-primary submit-button" type="submit">
                    <span class="loading spinner-border spinner-border-sm d-none" role="status"
                          aria-hidden="true"></span>
                    <span class="submit-word">{% block submitWord %}Save{% endblock %}</span>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
