{% extends 'base.html' %}

{% comment %}
    This file is used as the home screen
    If the user is a reviewer, we show their requested, assigned, completed, and available reviews
    If the user is not a reviewer, we just show their requested and completed reviews.
{% endcomment %}

{% block pageHeader %}Home{% endblock %}

{% block mainContent %}
    {% load review_tags %}
    <div class="row">
        <div class="col">
            <h2 class="user-select-none">Your Requested Reviews</h2>
            {% review_table active "schoology_id,status,date_created,edit,cancel" %}
        </div>
        {% if user.is_reviewer %}
            <div class="col">
                <h2 class="user-select-none">Your Assigned Reviews</h2>
                {% review_table assigned "schoology_id,student,grade,abandon" %}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <h2 class="user-select-none">Completed Reviews</h2>
            {% review_complete_preview_table completed "schoology_id,student,reviewer,date_completed,view" %}
        </div>
        {% if user.is_reviewer %}
            <div class="col">
                <h2 class="user-select-none">Available Reviews</h2>
                {% review_table open "schoology_id,student,date_created,claim" %}
            </div>
        {% endif %}
    </div>
{% endblock %}
