{% extends 'base.html' %}

{% block resources %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/reviews/review-table.css" %}"/>
{% endblock %}

{% block mainContent %}
    {% load review_tags %}
    <h1>Welcome, {{ user.username }}{% if user.is_reviewer %}*{% endif %}</h1>
    <h2>Your Requested Reviews</h2>
    {{ active|review_table:"schoology_id,status,date_created,edit" }}
    {% if user.is_reviewer %}
        <h2>Your Assigned Reviews</h2>

        <h2>Available Reviews</h2>

    {% endif %}
    <h2>Completed Reviews</h2>

{% endblock %}